.weather {
  position: relative;
}
.weather_info {
  position: absolute;
  top: 20px;
  left: 16px;
  color: white !important;
  font-size: 36px;
}
.weather_image {
  width: 100%;
}

.main {
  padding: 0 20px;
}
